@import url('https://fonts.googleapis.com/css?family=Inconsolata');


body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #06bcfb;
  background-image: linear-gradient(355deg, #06bcfb 0%, #4885eea4 74%);
  height: 100vh;
  min-width: 650px;
  overflow-y: hidden;
}

.calculator-box {
  width: 650px;
  margin: 8% auto;
  text-align: center;
  background-color: rgba(255, 250, 240, 0.2);
  background-image: linear-gradient(to bottom, rgba(255, 250, 240, 0.2), rgba(255, 250, 240, 0));
  letter-spacing: 2.5px;
  border-radius: 25px;
}

.form-box {
  font-size: 1.5em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

input[type="text"] {
  border: none;
  width: 100px;
  background-color: transparent;
  border-bottom: 2px solid #FFBE72;
  transition: width .25s ease-in-out;
  font-family: "Inconsolata";
  font-size: 2em;
  color: #96281b;
}

input[type="text"]:focus {
  width: 180px;
}

.calculator-heading {
  padding-top: 2%;
  font-size: 3em;
  color: #FFCE72;
  font-family: "Inconsolata";
  margin-block-end: 0;  
}

.apr-box {
  letter-spacing: 1px;

}

.loan-term-box {
  position: relative;
  left: -20px;
}

.loan-amount-box {
  position: relative;
  left: -7px;
}

.loan-amount-box > input {
  width: 170px;
}
.display-box {
  text-align: center;
  position: relative;
}

.display-monthly-label {
  position: relative;
  left: -35px;
}
.display-monthly-label > input {
  width: 200px;
}

input[attribute="value"] {
  color: #96281b;
  font-size: 1.2em;
}

.buttons-box {
  padding-bottom: 2%;
}

.buttons-box > input {
  background-color: #FFBE72;
  padding: 0;
  text-align: center;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  font-family: "Inconsolata";
  font-size: 1.2em;
  cursor: pointer;
  box-shadow: 2px 2px 5px #96281b;
}

input:focus {
  outline: none;
}